@import '../../scss/variables';

.ant-btn {
  height: auto;
}

.ant-btn-outline  {
  background-color: $white;
}

.btn {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}