/* ============= Colors ============= */
$primary: #4D7CFE;
$darkPrimary: #214DC7;
$white: #fff;
$black: #252631;
$textGray: #778CA2;
$textGrayLight: #98A9BC;
$border: #E8ECEF;
$iceBlue: #F8FAFB;
$active: #21A11E;
$danger: #C11B1B;
$warning: #FFAB2B;
$darkWarning: #C1931B;


/* ============= Fonts ============= */
// $large-bold: #PUT_FONT_HERE;