/* ============= Colors ============= */
$primary: #4D7CFE;
$darkPrimary: #214DC7;
$white: #fff;
$black: #252631;
$textGray: #778CA2;
$border: #E8ECEF;
$iceBlue: #F8FAFB;


/* ============= Fonts ============= */
// $large-bold: #PUT_FONT_HERE;